old/*
allArthropodDataProject/structures.txt
data/*
includes.py
.DS_Store
scandata20170215/
scandata_122816/
allArthropodDataProject/output/nullCatalogNumber.tsv
allArthropodDataProject/output/
allArthropodDataProject/scripts/allDuplicates_v2.py
